<gk-navbar user="user"></gk-navbar>

<aside class="main-sidebar">
  <div ng-include="'assets/views/common/_menu.html'"></div>
</aside>

<div class="content-wrapper super-box">
  <div gk-scroll-up></div>

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <span ng-bind-html="game.name"></span>
      <small ng-bind-html="labels.heading"></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/home"><i class="fa fa-home"></i><span ng-bind-html="miscLabels.home"></span></a></li>
      <li ng-bind-html="miscLabels.game"></li>
      <li class="active" ng-bind-html="labels.heading"></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content game-players">
    <div class="row">
      <gk-game-players game="game" admin="user.admin"></gk-game-players>
    </div>
  </section>
  <!-- /.content -->
</div>

