<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the GameKeeper! Click on the link below to activate your account:
</p>

<%= link_to "Activate", "#{@base_url}/#/activation?token=#{@user.activation_token}&email=#{@user.email}" %>
