<h1>Hi <%= @user.name %>,</h1>

<p>You requested to reset your password, please click the link below:</p>

<%= link_to "Reset", "#{@base_url}#/recover_password?token=#{@user.reset_token}&email=#{@user.email}" %>

<h4>
Note: This link will expire in two hours. If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
</h4>
