Hi <%= @user.name %>,

You requested to reset your password, please click the link below:


<%= "#{@base_url}#/recover_password?token=#{@user.activation_token}&email=#{@user.email}" %>


Note: This link will expire in two hours. If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
