<div class="dashboard-panel">
  <!--row-->
  <div class="row">
    <!--box-->
    <div class="box">
      <!-- loading -->
      <div class="overlay" ng-if="actionsLoading || badgesLoading || levelsLoading">
        <div class="fixed-loader"></div>
      </div>
      <!-- ./loading --> 

      <!--box-header-->
      <div class="box-header with-border">
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <!--nav-tabs-->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs nav-justified">
            <li ng-class="{ 'active': tab == 1 }"><a ng-click="tab = 1" data-toggle="tab" aria-expanded="true" ng-bind-html="labels.tabs.tab1"></a></li>
            <li ng-class="{ 'active': tab == 2 }"><a ng-click="tab = 2" data-toggle="tab" aria-expanded="false" ng-bind-html="labels.tabs.tab2"></a></li>
            <li ng-class="{ 'active': tab == 3 }"><a ng-click="tab = 3" data-toggle="tab" aria-expanded="false" ng-bind-html="labels.tabs.tab3"></a></li>
          </ul>
          <div class="tab-content"> 

            <!--tab-pane-->
            <div class="tab-pane active" id="tab_1" ng-if="tab == 1">
              <!-- action help -->
              <div class="callout">
                <h4 ng-bind-html="labels.callouts.actions.title"></h4>
                <p ng-bind-html="labels.callouts.actions.description"></p>
              </div>
              <div class="callout callout-warning" ng-if="actions.isEmpty()">
                <h4 ng-bind-html="labels.callouts.actionIsMissing.title"></h4>
                <p ng-bind-html="labels.callouts.actionIsMissing.description"></p>
              </div>
              <!-- ./action help -->

              <table class="table table-bordered">
                <tbody><tr>
                  <th style="width: 20%" ng-bind-html="labels.table.actions.columns.action"></th>
                  <th style="width: 10%" ng-bind-html="labels.table.actions.columns.today"></th>
                  <th style="width: 10%" ng-bind-html="labels.table.actions.columns.yesterday"></th>
                  <th style="width: 10%" ng-bind-html="labels.table.actions.columns.twoDaysAgo"></th>
                  <th style="width: 10%" ng-bind-html="labels.table.actions.columns.threeDaysAgo"></th>
                  <th style="width: 10%" ng-bind-html="labels.table.actions.columns.fourDaysAgo"></th>
                  <th style="width: 10%" ng-bind-html="labels.table.actions.columns.fiveDaysAgo"></th>
                  <th style="width: 10%" ng-bind-html="labels.table.actions.columns.sixDaysAgo"></th>
                  <th style="width: 10%" ng-bind-html="labels.table.actions.columns.sevenDaysAgo"></th>
                </tr>
                <tr ng-repeat="line in actions">
                  <td ng-bind-html="line.verb"></td>
                  <td>
                    <span ng-bind-html="line.days[0].times_performed"></span>
                    <span class="badge" ng-bind-html="line.days[0].times_performed_perc"></span>
                  </td>
                  <td>
                    <span ng-bind-html="line.days[1].times_performed"></span>
                    <span class="badge" ng-bind-html="line.days[1].times_performed_perc"></span>
                  </td><td>
                    <span ng-bind-html="line.days[2].times_performed"></span>
                    <span class="badge" ng-bind-html="line.days[2].times_performed_perc"></span>
                  </td><td>
                    <span ng-bind-html="line.days[3].times_performed"></span>
                    <span class="badge" ng-bind-html="line.days[3].times_performed_perc"></span>
                  </td><td>
                    <span ng-bind-html="line.days[4].times_performed"></span>
                    <span class="badge" ng-bind-html="line.days[4].times_performed_perc"></span>
                  </td><td>
                    <span ng-bind-html="line.days[5].times_performed"></span>
                    <span class="badge" ng-bind-html="line.days[5].times_performed_perc"></span>
                  </td><td>
                    <span ng-bind-html="line.days[6].times_performed"></span>
                    <span class="badge" ng-bind-html="line.days[6].times_performed_perc"></span>
                  </td><td>
                    <span ng-bind-html="line.days[7].times_performed"></span>
                    <span class="badge" ng-bind-html="line.days[7].times_performed_perc"></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.tab-pane -->

            <!--tab-pane-->
            <div class="tab-pane active" id="tab_2" ng-if="tab == 2">
              <!-- badge help -->
              <div class="callout">
                <h4 ng-bind-html="labels.callouts.badges.title"></h4>
                <p ng-bind-html="labels.callouts.badges.description"></p>
              </div>
              <!-- ./badge help -->

              <!--widget-->
              <div class="row" ng-repeat="badge in badges">
                <div class="col-md-12">
                  <div class="info-box">
                  <span class="info-box-icon">
                    <img  src="{{badge.image_url}}" class="img-responsive pad img-circle">
                  </span>

                  <div class="info-box-content">
                    <span class="info-box-text" ng-bind-html="badge.name"></span>
                    <span class="info-box-number" ng-bind-html="badge.players_earned"></span>

                    <div class="progress">
                      <div class="progress-bar" ng-style="{ 'width': badge.players_earned_perc}"></div>
                    </div>
                        <span class="progress-description">
                          {{badge.players_earned_perc}}% conseguiram conquistar essa insígnia
                        </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                </div>
              </div>
              <!--./widget-->

            </div>
            <!-- /.tab-pane -->

            <!--tab-pane-->
            <div class="tab-pane active" id="tab_3" ng-if="tab == 3">
              <!-- level help -->
              <div class="callout">
                <h4 ng-bind-html="labels.callouts.levels.title"></h4>
                <p ng-bind-html="labels.callouts.levels.description"></p>
              </div>
              <!-- ./level help -->

              <!--widget-->
              <div class="row" ng-repeat="level in levels">
                <div class="col-md-12">
                  <div class="info-box">
                  <span class="info-box-icon">
                    <img  src="{{level.image_url}}" class="img-responsive pad img-circle">
                  </span>

                  <div class="info-box-content">
                    <span class="info-box-text" ng-bind-html="level.name"></span>
                    <span class="info-box-number" ng-bind-html="level.players_earned"></span>

                    <div class="progress">
                      <div class="progress-bar" ng-style="{ 'width': level.players_earned_perc}"></div>
                    </div>
                        <span class="progress-description">
                          {{level.players_earned_perc}}% conseguiram alcançar esse nível
                        </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                </div>
              </div>
              <!--./widget-->
            </div>
            <!-- /.tab-pane -->

          </div>
          <!-- /.tab-content -->
        </div>
        <!--./nav-tabs-->
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
      </div>
    </div>
    </div>
    <!--./box-->
  </div>
  <!--./row-->
</div>