<!--player-panel-->
<div class="player-panel">
  
  <!--player-list-box-->
  <div class="player-list-box">
    <div class="col-md-12">
      
      <!--mainbox-->
      <div class="box">

        <!-- loading -->
        <div class="overlay" ng-if="!playersAreLoaded">
          <div class="fixed-loader"></div>
        </div>
        <!-- ./loading -->

        <div class="box-header with-border">




          
          <div class="pull-right">
            <select id="pages" class="form-control" ng-model="currentPage" ng-change="changePage(currentPage)" >
              <option ng-repeat='page in pagesOfPlayers' value="{{page}}" ng-bind-html="page"></option>
            </select>

          </div>

        </div>
        
        <!--body-->
        <div class="box-body">

          <!-- basics help -->
          <div class="callout">
            <h4 ng-bind-html="labels.callouts.basics.title"></h4>
            <p ng-bind-html="labels.callouts.basics.description"></p>
          </div>
          <!-- ./basics help -->

          <!--player-->
          <div class="col-md-3" ng-repeat="p in gamePlayers">
            <div class="box-player">
              <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="{{p.image_url}}">

                <h3 class="profile-username text-center" ng-bind-html="p.name"></h3>

                <!--<p class="text-muted text-center">Software Engineer</p>-->

                <ul class="list-group list-group-unbordered player-basics-info">
                  <li class="list-group-item">
                    <b><span ng-bind-html="labels.fields.level"></span></b> <img class="user-level-img img-responsive img-circle" src="{{p.level_imagel_url}}">
                  </li>
                  <li class="list-group-item">
                    <b><span ng-bind-html="labels.fields.badges_obtained"></span></b> <a class="pull-right"><span ng-bind-html="p.badges_obtained"></span></a>
                  </li>
                  <li class="list-group-item">
                    <b><span ng-bind-html="labels.fields.points_obtained"></span></b> <a class="pull-right"><span ng-bind-html="p.points_obtained"></span></a>
                  </li>
                </ul>

                         <!--#/games/{{game.unique_name}}/overview-->
                <a href="#/games/{{game.unique_name}}/players/{{p.id}}/show" class="btn bg-navy">
                  <span ng-bind-html="labels.buttons.show"></span>
                </a>
                <a href="#/games/{{game.unique_name}}/players/{{p.id}}/sandbox" class="btn" ng-if="admin">
                  <i class="fa fa-lock"></i> <span ng-bind-html="miscLabels.menu.levels">
                </a>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
          <!--./player-->

        </div>
        <!--./body-->
   
      </div>
      <!--./mainbox-->
    </div>
  </div>
  <!--./player-list-box-->
  
</div>
<!--./player-panel-->
