<div class="settings-panel">
  <div class="row">
    <div class=" col-md-12">
      <!-- box -->
      <div class="box">

        <!-- loading -->
        <div class="overlay" ng-if="isSettingsProcessing">
          <div class="wide-loader"></div>
        </div>
        <!-- ./loading -->

        <!-- form -->
        <form name="gameSettingsForm" ng-submit="update(game)">
          <!-- header -->
          <div class="box-header with-border">
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-block btn-danger" ng-click="delete(game)"><span ng-bind-html="labels.buttons.delete"></span></button>
              </div>
              <div class="btn-group">
                <button class="btn bg-navy" type="submit"><span ng-bind-html="labels.buttons.save"></span></button>
              </div>
            </div>
          </div>
          <!-- ./header -->

          <div class="box-body">
            <!-- basics help -->
            <div class="callout">
              <h4 ng-bind-html="labels.callouts.basics.title"></h4>
              <p ng-bind-html="labels.callouts.basics.description"></p>
            </div>
            <!-- ./basics help -->
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                <div class="box-solid">
                  <div class="box-body">

                    <!--upload -->
                    <div class="row">
                      <div class="col-md-offset-5 col-md-2">
                        <div class="row">
                          <div class="form-group has-feedback">
                            <img  src="{{game.image_url}}" class="img-responsive pad img-circle">
                          </div>
                        </div>

                        <div class="row form-group">
                          <span class="btn-block btn bg-teal btn-file btn-upload">
                              <i class="fa fa-upload"></i> <input type="file" game-image-select="onFileSelect($files)" accept="image/*" />
                          </span>
                        </div>
                      </div>
                    </div>
                    <!-- ./upload -->

                    <!-- name -->
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameSettingsForm.name.$invalid, 'has-success': gameSettingsForm.name.$valid }">
                      <label ng-bind-html="labels.fields.name.name"></label>
                      <input name="name" type="text" class="form-control" ng-required="true" ng-model="game.name" autocomplete="off" placeholder="{{labels.fields.name.placeholder}}">
                    </div>
                    <!-- ./name -->

                    <!-- unique_name -->
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameSettingsForm.unique_name.$invalid, 'has-success': gameSettingsForm.unique_name.$valid }">
                      <label ng-bind-html="labels.fields.unique_name.name"></label>
                      <input name="unique_name" type="text" class="form-control" ng-required="true" ng-model="game.unique_name" autocomplete="off" placeholder="{{labels.fields.unique_name.placeholder}}">
                    </div>
                    <!-- ./unique_name -->

                    <!-- objective -->
                    <div class="form-group" ng-class="{ 'has-error':  gameSettingsForm.objective.$invalid, 'has-success': gameSettingsForm.objective.$valid }">
                      <label ng-bind-html="labels.fields.description.name"></label>
                      <textarea name="objective" rows="3" class="form-control" ng-model="game.objective" autocomplete="off" placeholder="{{labels.fields.description.placeholder}}"></textarea>
                    </div>
                    <!-- ./objective -->

                    <a class="btn btn-app bg-purple" ng-click="newToken('md')">
                      <i class="fa fa-lock"></i> <span ng-bind-html="labels.buttons.accessToken"> </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- .row -->
          </div>
          <!-- /.box-body -->
        </form>
        <!-- ./form -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</div>
