<ul class="sidebar-menu">

  <!-- dashboards -->
  <li>
    <!-- menu de dashboards -->
    <a href="#/home"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span ng-bind-html="miscLabels.menu.back"></span></a>
  </li>
  <!-- ./dashboards -->

  <!-- dashboards -->
  <li ng-class="{ 'active': isActiveMenu(['overview']) }">
    <!-- menu de dashboards -->
    <a href="#/games/{{id}}/overview"><i class="fa fa-dashboard"></i> <span ng-bind-html="miscLabels.menu.overview"></span></a>
  </li>
  <!-- ./dashboards -->

  <li ng-class="{ 'active': isActiveMenu(['players']) }">
    <!-- menu de players -->
    <a href="#/games/{{id}}/players"><i class="fa fa-users"></i> <span ng-bind-html="miscLabels.menu.players"></span></a>
  </li>
  <!-- ./players -->

  <li ng-class="{ 'active': isActiveMenu(['actions']) }">
    <!-- menu de actions -->
    <a href="#/games/{{id}}/actions"><i class="fa fa-gamepad"></i> <span ng-bind-html="miscLabels.menu.actions"></span></a>
  </li>
  <!-- ./actions -->

  <li ng-class="{ 'active': isActiveMenu(['badges']) }">
    <!-- menu de badges -->
    <a href="#/games/{{id}}/badges"><i class="fa fa-trophy"></i> <span ng-bind-html="miscLabels.menu.badges"></span></a>
  </li>
  <!-- ./badges -->

  <li ng-class="{ 'active': isActiveMenu(['levels']) }">
    <!-- menu de levels -->
    <a href="#/games/{{id}}/levels"><i class="fa fa-rocket"></i> <span ng-bind-html="miscLabels.menu.levels"></span></a>
  </li>
  <!-- ./levels -->

  <li ng-class="{ 'active': isActiveMenu(['settings']) }">
    <!-- menu de settings -->
    <a href="#/games/{{id}}/settings"><i class="fa fa-cogs"></i> <span ng-bind-html="miscLabels.menu.settings"></span></a>
  </li>
  <!-- ./settings -->

  <li>
    <a role="button" data-toggle="offcanvas" class="sidebar-toggle" >
      <i class="fa fa-bars"></i>
      <span ng-bind-html="miscLabels.menu.collapse"></span>
      <span class="sr-only">Toggle navigation</span>
    </a>
  </li>

</ul>
