<aside class="main-sidebar"></aside>

<div class="content-wrapper super-box">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <span ng-bind-html="labels.heading"></span>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#/home">
          <i class="fa fa-home"></i>
          <span ng-bind-html="miscLabels.home"></span>
        </a>
      </li>
      <li class="active" ng-bind-html="labels.heading"></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content game-list">
    
    <div class="col-md-12">
      <!-- Application buttons -->
      <div class="box">
        
        <!-- loading -->
        <div class="overlay" ng-if="!gamesAreLoaded">
          <div class="wide-loader"></div>
        </div>
        <!-- ./loading -->

        <div class="box-header with-border">
          <br>
        </div>

        <div class="box-body">
          
          <div class="callout">
            <h4 ng-bind-html="labels.callouts.list.title"></h4>
            <p ng-bind-html="labels.callouts.list.description"></p>
          </div>

          <div class="row">
            <!-- column for button -->
            <div class="col-md-1">
              <a class="btn btn-app bg-navy" ng-click="newGame('md')">
                <i class="fa fa-plus-circle"></i> <span ng-bind-html="labels.buttons.add"></span>
              </a>
            </div>
            <!-- column for games -->
            <div class="col-md-11">

              <div class="col-md-4" ng-repeat="game in games track by $index">
                <!-- anchor -->
                
                <a href="#/games/{{game.unique_name}}/overview" style="color: inherit;">
                  <!-- Widget: card widget style 1 -->
                  <div class="box-widget widget-card">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-card-header bg-aqua-active">

                      <h3 class="widget-card-title" ng-bind-html="game.name"></h3>
                      <h5 class="widget-card-desc" ng-bind-html="game.unique_name"></h5>

                    </div>
                    <div class="widget-card-image" ng-if="game.image_url">
                      <img alt="Game"  class="img-circle" src="{{game.image_url}}" style="width: 85px; height: 85px">
                    </div>
                    <div class="box-footer">
                      <div class="row">
                        <div class="col-sm-3 border-right border-left">
                          <div class="description-block">
                            <h5 class="description-header" ng-bind-html="game.number_of_players"></h5>
                            <span class="description-text">PLAYERS</span>
                          </div>
                          <!-- /.description-block -->
                        </div>
                        <div class="col-sm-3 border-right border-left">
                          <div class="description-block">
                            <h5 class="description-header" ng-bind-html="game.number_of_actions"></h5>
                            <span class="description-text">ACTIONS</span>
                          </div>
                          <!-- /.description-block -->
                        </div>
                        <div class="col-sm-3 border-right border-left">
                          <div class="description-block">
                            <h5 class="description-header" ng-bind-html="game.number_of_badges"></h5>
                            <span class="description-text">BADGES</span>
                          </div>
                          <!-- /.description-block -->
                        </div>
                        <div class="col-sm-3 border-right border-left">
                          <div class="description-block">
                            <h5 class="description-header" ng-bind-html="game.number_of_levels"></h5>
                            <span class="description-text">LEVELS</span>
                          </div>
                          <!-- /.description-block -->
                        </div>
                      </div>
                      <!-- /.row -->
                    </div>
                  </div>
                  <!-- /.widget-card -->
                </a>
                <!-- ./anchor -->
              </div>



            </div>

            <!-- /.p -->
          </div>
          <!-- .row -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  </section>
  <!-- /.content -->
</div>

