<gk-navbar user="user"></gk-navbar>
<aside class="main-sidebar"></aside>

<div class="content-wrapper super-box">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <span ng-bind-html="labels.heading"></span>
      <small ng-bind-html="labels.headingSubtitle"></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/home"><i class="fa fa-home"></i><span ng-bind-html="miscLabels.home"></span></a></li>
      <li class="active" ng-bind-html="labels.heading"></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <!-- box -->
        <div class="box">

          <!-- loading -->
          <div class="overlay" ng-if="isUpdating">
            <div class="wide-loader"></div>
          </div>
          <!-- ./loading -->
          
          <!-- form -->
          <form name="userEditForm" ng-submit="save(user)">
            <!-- header -->
            <div class="box-header with-border">
              <div class="pull-right">
                <div class="btn-group">
                  <button class="btn bg-navy" type="submit"><span ng-bind-html="labels.buttons.save"></span></button>
                </div>
              </div>
            </div>
            <!-- ./header -->

            <div class="box-body">
              <!-- basics help -->
              <div class="callout">
                <h4 ng-bind-html="labels.callouts.account.title"></h4>
                <p ng-bind-html="labels.callouts.account.description"></p>
              </div>
              <!-- ./basics help -->
              <div class="row">

                <div class="col-md-offset-3 col-md-6">
                  <!-- name -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  userEditForm.name.$invalid, 'has-success': userEditForm.name.$valid }" >
                      <input name="name" type="text" class="form-control" ng-model="user.name" ng-required="true" autocomplete="off" placeholder="{{labels.fields.name}}" >
                    </div>
                  </div>
                  <!-- ./name -->

                  <!-- email -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  userEditForm.email.$invalid, 'has-success': userEditForm.email.$valid }" >
                      <input name="email" type="email" class="form-control" ng-model="user.email" ng-required="true" autocomplete="off" placeholder="{{labels.fields.email}}" >
                    </div>
                  </div>
                  <!-- ./email -->

                  <!-- password -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  userEditForm.password.$invalid, 'has-success': userEditForm.password.$valid }" >
                      <input name="password" type="password" class="form-control" ng-model="user.password" ng-required="true" autocomplete="off" placeholder="{{labels.fields.password}}" >
                    </div>
                  </div>
                  <!-- ./password -->

                  <!-- password confirm -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  userEditForm.confirmation.$invalid, 'has-success': userEditForm.confirmation.$valid }" >
                      <input name="confirmation" type="password" class="form-control" ng-model="user.confirmation" ng-required="true" autocomplete="off" placeholder="{{labels.fields.confirmation}}" >
                    </div>
                  </div>
                  <!-- ./password confirm -->

                </div>
              </div>
              <!-- .row -->
            </div>
            <!-- /.box-body -->
          </form>
          <!-- ./form -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

