<div class="register-box box box-solid">
  
  <!-- loading -->
  <div class="overlay" ng-if="isSigningUp">
    <div class="default-loader"></div>
  </div>
  <!-- ./loading -->
  
  <div class="register-logo">
    <span>Game<b>keeper</b></a>
  </div>

  <div class="register-box-body">
    
    <!-- form -->
    <form class="box-form" name="signupForm" ng-submit="signup(user)">
      
      <p class="login-box-msg" ng-bind-html="labels.heading"></p>

      <div class="box-form-fields">
        <!-- fields -->
        <div class="form-group input-group-sm" ng-class="{ 'has-error':  signupForm.name.$invalid, 'has-success': signupForm.name.$valid }">
          <input name="name" type="text" class="form-control" placeholder="{{labels.fields.name}}"
          ng-required="true" ng-model="user.name" autocomplete="off">
        </div>

        <div class="form-group input-group-sm" ng-class="{ 'has-error':  signupForm.email.$invalid, 'has-success': signupForm.email.$valid }">
          <input name="email" type="email" class="form-control" placeholder="{{labels.fields.email}}"
          ng-required="true" ng-model="user.email" autocomplete="off">
        </div>

        <div class="form-group input-group-sm" ng-class="{ 'has-error':  signupForm.password.$invalid, 'has-success': signupForm.password.$valid }">
          <input name="password" type="password" class="form-control" placeholder="{{labels.fields.password}}"
          ng-required="true" ng-model="user.password" ng-minlength="6" autocomplete="off">
        </div>
        <div class="form-group input-group-sm" ng-class="{ 'has-error':  signupForm.confirmation.$invalid, 'has-success': signupForm.confirmation.$valid }">
          <input name="confirmation" type="password" class="form-control" placeholder="{{labels.fields.passwordConfirm}}"
          ng-required="true" ng-model="user.passwordConfirm">
        </div>
        <!-- ./fields -->
      </div>

      <div class="box-form-footer">
        <div class="row box-form-buttons">
          <button type="submit" class="btn bg-navy btn-block btn-flat"
          ng-disabled="signupForm.$invalid" ng-bind-html="labels.buttons.signup"></button>
        </div>
        
        <a href="#/login" class="text-center" ng-bind-html="labels.buttons.login"></a>
      </div>
    </form>
    <!-- ./form -->
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
