<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="#/games" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">G<b>K</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">Game<b>keeper</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle visible-sm visible-xs" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs" ng-bind-html="user.email"></span>
            <i class="fa fa-level-down"></i>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <p ng-bind-html="user.name"></p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-default btn-flat" href="#/edit">Account</a>
              </div>
              <div class="pull-right">
                <button class="btn btn-default btn-flat" ng-click="logout()">Log out</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
