<div class="modal-header">
  <div class="row">
    <h3 class="modal-title">
      <div class="col-md-offset-4 col-md-4" style="text-align: center">
        <span ng-bind-html="labels.heading"></span>
      </div>
    </h3>
  </div>
</div>

<form name="newGameForm" ng-submit="save(game)">
  <div class="modal-body">
    <div class="box box-solid">
      
      <!-- loading -->
      <div class="overlay" ng-if="isSavingGame">
        <div class="modal-loader"></div>
      </div>
      <!-- ./loading -->

      <div class="box-body">

        <!--upload -->
        <div class="row">
          <div class="col-md-offset-5 col-md-2">
            <div class="row">
              <div class="form-group has-feedback">
                <img  src="{{game.image_url}}" class="img-responsive pad img-circle">
              </div>
            </div>

            <div class="row form-group">
              <span class="btn-block btn bg-teal btn-file btn-upload">
                  <i class="fa fa-upload"></i> <input type="file" game-image-select="onFileSelect($files)" accept="image/*" />
              </span>
            </div>
          </div>
        </div>
        <!-- ./upload -->


        <!-- name -->
        <div class="form-group input-group-sm" ng-class="{ 'has-error':  newGameForm.name.$invalid, 'has-success': newGameForm.name.$valid }">
          <label ng-bind-html="labels.fields.name.name"></label>
          <input name="name" type="text" class="form-control" ng-required="true" ng-model="game.name" autocomplete="off" placeholder="{{labels.fields.name.placeholder}}">
        </div>
        <!-- ./name -->

        <!-- unique_name -->
        <div class="form-group input-group-sm" ng-class="{ 'has-error':  newGameForm.unique_name.$invalid, 'has-success': newGameForm.unique_name.$valid }">
          <label ng-bind-html="labels.fields.unique_name.name"></label>
          <input name="unique_name" type="text" class="form-control" ng-required="true" ng-model="game.unique_name" autocomplete="off" placeholder="{{labels.fields.unique_name.placeholder}}">
        </div>
        <!-- ./unique_name -->

        <!-- objective -->
        <div class="form-group" ng-class="{ 'has-error':  newGameForm.objective.$invalid, 'has-success': newGameForm.objective.$valid }">
          <label ng-bind-html="labels.fields.description.name"></label>
          <textarea name="objective" rows="3" class="form-control" ng-model="game.objective" autocomplete="off" placeholder="{{labels.fields.description.placeholder}}"></textarea>
        </div>
        <!-- ./objective -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn bg-navy" type="submit" ng-bind-html="labels.buttons.save"></button>
      <button class="btn btn-default pull-left" type="submit" ng-click="cancel()" ng-bind-html="labels.buttons.cancel"></button>
  </div>
</form>
