<div class="modal-header">
  <div class="row">
    <h3 class="modal-title">
      <div class="col-md-offset-4 col-md-4" style="text-align: center">
        <span ng-bind-html="labels.heading"></span>
      </div>
    </h3>
  </div>
</div>

  <div class="modal-body">
    <div class="box box-solid">
      
      <!-- loading -->
      <div class="overlay" ng-if="loading">
        <div class="modal-loader"></div>
      </div>
      <!-- ./loading -->

      <div class="box-body">
        <div class="row">
          <div class="col-md-8">
            <p ng-bind-html="labels.fields.token"></p>
            <p><h3 ng-bind-html="game.access_token"></h3></p>
          </div>
          <div class="col-md-4">
            <button class="btn bg-navy pull-right" type="button" ng-click="change(game)" ng-bind-html="labels.buttons.change"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default pull-left" type="button" ng-click="cancel()" ng-bind-html="labels.buttons.close"></button>
  </div>
</form>
