<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a>Game<b>keeper</b></a>
  </div>

  <!-- loading -->
  <div class="overlay" ng-if="isActivatingAccount">
    <div class="loader">Loading...</div>
  </div>
  <!-- ./loading -->

  <!-- /.lockscreen-item -->
  <div class="help-block text-center" ng-if="!isActivatingAccount">
    <span ng-bind-html="message"></span>
    <a href="{{redirectTo}}" style="display: block; margin-top: 10px"><i class="fa {{iconClass}}" style="font-size: 30px"></i></a>
  </div>
</div>
<!-- /.center -->

