<div class="login-box box box-solid">
  
  <!-- loading -->
  <div class="overlay" ng-if="isLoggingIn">
    <div class="default-loader"></div>
  </div>
  <!-- ./loading -->
  
  <div class="login-logo">
    <span>Game<b>keeper</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="box-body">
    <form class="box-form" name="loginForm" ng-submit="login(user)">
      
      <p class="login-box-msg" ng-bind-html="labels.heading"></p>

      <div class="box-form-fields">
        <!-- email -->
        <div class="form-group input-group-sm" ng-class="{ 'has-error':  loginForm.email.$invalid, 'has-success': loginForm.email.$valid }">
          <input name="email" type="email" class="form-control" placeholder="{{labels.fields.email}}"
          ng-required="true" ng-model="user.email" >
        </div>
        <!-- ./email -->

        <!-- password -->
        <div class="form-group input-group-sm" ng-class="{ 'has-error':  loginForm.password.$invalid, 'has-success': loginForm.password.$valid }">
          <input name="password" type="password" class="form-control" placeholder="{{labels.fields.password}}"
          ng-required="true" ng-model="user.password" ng-minlength="6">
        </div>
        <!-- ./password -->

        <div class="form-group has-feedback">
          <label>
            <input type="checkbox" ng-model="user.remember"> {{labels.fields.remember}}
          </label>
        </div>
      </div>

      <div class="row box-form-buttons">
        <button type="submit" class="btn bg-navy btn-block btn-flat" ng-disabled="loginForm.$invalid" ng-bind-html="labels.buttons.login"></button>
      </div>

      <a href="#/send_recover_password" ng-bind-html="labels.buttons.forgot"></a><br>
      <a href="#/signup" class="text-center" ng-bind-html="labels.buttons.signup"></a>
    </form>



  </div>
  <!-- /.login-box-body -->

</div>
