<div class="register-box box box-solid">
  
  <!-- loading -->
  <div class="overlay" ng-if="isSendingEmail">
    <div class="default-loader"></div>
  </div>
  <!-- ./loading -->
  
  <div class="register-logo">
    <span>Game<b>keeper</b></a>
  </div>

  <div class="login-box-body">

    <p class="login-box-msg" ng-bind-html="labels.heading"></p>
    
    <!-- form -->
    <form class="box-form" name="emailForm" ng-submit="sendRequest(email)">

      <div class="box-form-fields">
        <!-- fields -->
        <div class="form-group input-group-sm" ng-class="{ 'has-error':  emailForm.email.$invalid, 'has-success': emailForm.email.$valid }">
          <input name="email" type="email" class="form-control" placeholder="{{labels.fields.email}}"
          ng-required="true" ng-model="email" autocomplete="off">
        </div>
        <!-- ./fields -->
      </div>

      <div class="row box-form-buttons">
        <button type="submit" class="btn bg-navy btn-block btn-flat" ng-disabled="emailForm.$invalid" ng-bind-html="labels.buttons.send"></button>
      </div>

      <a href="#/login" class="text-center" ng-bind-html="labels.buttons.back"></a>
    </form>
    <!-- ./form -->
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
