<div class="register-box box box-solid">
  
  <!-- loading -->
  <div class="overlay" ng-if="isResetting">
    <div class="default-loader"></div>
  </div>
  <!-- ./loading -->
  
  <div class="register-logo">
    <span>Game<b>keeper</b></a>
  </div>

  <div class="login-box-body">

    <!-- form -->
    <form class="box-form" name="resetForm" ng-submit="reset(user)">

      <p class="login-box-msg" ng-bind-html="labels.heading"></p>

      <div class="box-form-fields">
        <!-- fields -->
        <div class="form-group input-group-sm" ng-class="{ 'has-error':  resetForm.password.$invalid, 'has-success': resetForm.password.$valid }">
          <input name="password" type="password" class="form-control" placeholder="{{labels.fields.password}}"
          ng-required="true" ng-model="user.password" ng-minlength="6" autocomplete="off">
        </div>

        <div class="form-group input-group-sm" ng-class="{ 'has-error':  resetForm.confirmation.$invalid, 'has-success': resetForm.confirmation.$valid }">
          <input name="confirmation" type="password" class="form-control" placeholder="{{labels.fields.passwordConfirm}}"
          ng-required="true" ng-model="user.passwordConfirm">
        </div>
        <!-- ./fields -->
      </div>

      <div class="row box-form-buttons">
        <button type="submit" class="btn bg-navy btn-block btn-flat" ng-disabled="resetForm.$invalid" ng-bind-html="labels.buttons.update"></button>
      </div>

    </form>
    <!-- ./form -->
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
