<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a>Game<b>keeper</b></a>
  </div>

  <!-- /.lockscreen-item -->
  <div class="help-block text-center">
    Please check your email to reset your password.
  </div>
</div>
<!-- /.center -->

