@import 'gk-utils';

body {
  // Não é pra ter scroll da página
  overflow-y: hidden;
}

.super-box {
  .content {
    .box {
      height: 79vh;
      overflow: auto;
      overflow-x: hidden;  
    }
  }
}

// pq modals não fica no super box =x
.btn-upload {
  width: 100%;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

@include loader();
