@import 'gk-game';

.game-levels {
  .box-header {
    text-align: left;
  }
  
  .level-list-box {
    img {
      width: 80px;
      height: 95px;
    }
    .info-box-content {
      position: relative;
      .info-box-text {
        text-overflow: ellipsis;
        padding-right: 10px;
      }
      .selected-level-a {
        position: absolute;
        top: 20%;
        left: 90%;
      }
    }
  }
  
  .level-form-box {
    .box {
      .overlay {
        position: fixed;
      }
    }
  }
}
