@import 'gk-game';

.game-players {
  .box-player {
    .player-basics-info {
      .user-level-img {
        width: 26px;
        display: inline;
        float: right;
      } 
      
    }
    #timeline {
      .options {
        button {
          margin-top: 6px;
        }
      }
    }
  }
}