@mixin loader () {
  .default-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: relative;
    left: 40%;
    top: 40%;
  }
  .fixed-loader {
    @extend .default-loader;
    left: 50%;
    top: 50%;
  }
  .wide-loader {
    @extend .default-loader;
    left: 45%;
  }
  .modal-loader {
    @extend .default-loader;
    left: 43%
  }
  .list-loader {
    @extend .default-loader;
    left: 35%;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}