@import 'gk-base';
@import 'gk-utils';

.box-form {
  .box-form-fields {
    margin-bottom: 25px;
  }
  .box-form-buttons {
    float: right;
    button {
      margin-right: 15px;
      display: inline;
    }
    a {
      padding-top: 10px;
      margin-right: 15px;
    }
  }
}