<!--action-panel-->
<div class="action-panel">

  <!--action-list-box-->
  <div class="action-list-box">
    <div class="col-md-3">
      <div class="box">

        <div class="overlay" ng-if="!actionsAreLoaded">
          <div class="list-loader"></div>
        </div>  
        
        <div class="box-header with-border">
          <div class="btn-group-vertical pull-right">
            <button class="btn bg-navy" type="button" ng-click="new()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        
        <div class="box-body">
          <div ng-repeat="a in gameActions">
            <a role="button" ng-click="select(a)">
              <div class="info-box">
                <span class="info-box-icon bg-aqua">
                  <img  src="{{a.image_url}}" class="img-responsive pad img-circle">
                </span>
                <div class="info-box-content">
                  <span class="info-box-text" ng-bind-html="a.verb"></span>
                  <i class="fa fa-circle selected-action-a" ng-if="a.isSelected"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--./action-list-box-->

  <!--action-form-box-->
  <div class="action-form-box">
    <div class="col-md-9">
      <form ng-if="gameAction" name="gameActionForm" ng-submit="save(gameAction)">
        <div class="box">

          <!-- loading -->
          <div class="overlay" ng-if="isActionProcessing">
            <div class="fixed-loader"></div>
          </div>
          <!-- ./loading -->

          <div class="box-header with-border">
              <i class="fa fa-edit"></i>

              <h3 class="box-title" ng-bind-html="gameAction.verb"></h3>

              <div class="pull-right">
                <div class="btn-group">
                  <button class="btn bg-gray" type="button" ng-disabled="!gameAction.id" ng-click="delete(gameAction)"><span ng-bind-html="labels.buttons.delete"></span></button>
                </div>
                <div class="btn-group">
                  <button class="btn bg-navy" type="submit"><span ng-bind-html="labels.buttons.save"></span></button>
                </div>
              </div>
          </div>
          
          <div class="box-body">

            <!-- basics help -->
            <div class="callout">
              <h4 ng-bind-html="labels.callouts.basics.title"></h4>
              <p ng-bind-html="labels.callouts.basics.description"></p>
            </div>
            <!-- ./basics help -->

            <div class="action-basic-fields">
              <div class="row">

                <!--upload -->
                <div class="col-md-offset-5 col-md-2">
                  <div class="row">
                    <div class="form-group has-feedback">
                      <img  src="{{gameAction.image_url}}" class="img-responsive pad img-circle">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <span class="btn-block btn bg-teal btn-file btn-upload">
                          <i class="fa fa-upload"></i> 
                          <input type="file" game-action-image-select="onFileSelect($files)" accept="image/*" />
                      </span>
                    </div>
                  </div>
                </div>
                <!-- ./upload -->

                <div class="col-md-offset-3 col-md-6">

                  <!-- identifier -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameActionForm.identifier.$invalid, 'has-success': gameActionForm.identifier.$valid }">
                      <input name="identifier" type="text" class="form-control" ng-model="gameAction.verb" ng-required="true" autocomplete="off" placeholder="{{labels.fields.identifier}}">
                    </div>
                  </div>
                  <!-- ./identifier -->

                  <!-- pastTense -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameActionForm.pastTense.$invalid, 'has-success': gameActionForm.pastTense.$valid }">
                      <input name="pastTense" type="text" class="form-control" ng-model="gameAction.past_tense" ng-required="true" autocomplete="off" placeholder="{{labels.fields.pastTense}}">
                    </div>
                  </div>
                  <!-- ./pastTense -->

                  <!-- points -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameActionForm.points.$invalid, 'has-success': gameActionForm.points.$valid }">
                      <input name="points" type="text" class="form-control" gkui-number ng-model="gameAction.points" ng-required="true" autocomplete="off" placeholder="{{labels.fields.points}}">
                    </div>
                  </div>
                  <!-- ./points -->

                  <!-- bonus points -->
                  <!--<div class="row">
                    <div class="form-group input-group-sm has-success">
                      <input name="bonus-points" type="text" class="form-control" gkui-number ng-model="gameAction.bonus_points" autocomplete="off" placeholder="{{labels.fields.bonusPoints}}">
                    </div>
                  </div>-->
                  <!-- ./bonus-points -->
                </div>
                <!-- ./fields -->
              </div>
            </div>

            <hr>

            <!-- object help -->
            <div class="callout">
              <h4 ng-bind-html="labels.callouts.object.title"></h4>
              <p ng-bind-html="labels.callouts.object.description"></p>
            </div>
            <!-- ./object help -->

            <div class="action-object-fields">
              <div class="row">
                <div class="col-md-offset-3 col-md-6">
                  <!-- article + singular + plural -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group input-group-sm form-group" ng-class="{ 'has-error':  gameActionForm.singular.$invalid, 'has-success': gameActionForm.singular.$valid }">

                        <!-- article -->
                        <div class="input-group-btn">
                          <button data-toggle="dropdown" class="btn dropdown-toggle" ng-class="{ 'btn-danger': !gameAction.action_object.article,  'btn-success': gameAction.action_object.article }" type="button" aria-expanded="false">
                            <span ng-if="!gameAction.action_object.article">...</span>
                            <span ng-bind-html="gameAction.action_object.article"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li ng-repeat="option in articles | orderBy: 'option'">
                              <a role="button" ng-click="selectArticle(option)"><span ng-bind-html="option"></span></a>
                            </li>
                          </ul>
                        </div>
                        <!-- ./article -->

                        <!-- singular -->
                        <input name="singular" type="text" ng-required="true" class="form-control" placeholder="... post" ng-model="gameAction.action_object.singular">
                        <!-- ,/singular -->
                      </div>
                    </div>
            
                  </div>
                  <!-- ./article + singular + plural -->
                </div>
              </div>
            </div>

            <hr>

            <!-- object help -->
            <div class="callout">
              <h4 ng-bind-html="labels.callouts.properties.title"></h4>
              <p ng-bind-html="labels.callouts.properties.description"></p>
            </div>
            <!-- ./object help -->

            <div class="action-properties-fields">
              <div class="row">

                <div class="row">
                  <div class="col-md-offset-3 col-md-6">

                    <!-- fields -->
                    <div class="row" ng-repeat="property in gameAction.object_properties">

                      <div class="input-group-sm">
                        <!-- name -->
                        <div class="col-md-10">
                          <div class="property-name">
                            <div class="form-group">
                              <input name="name" placeholder="{{labels.properties.name}}" type="text" class="form-control" ng-model="property.name">
                            </div>
                          </div>
                        </div>
                        <!-- ./name -->

                        <!-- remove button -->
                        <div class="col-md-2">
                          <div class="btn-group-vertical">
                              <button class="btn bg-gray" type="button" ng-click="removeProperty(property)"><i class="fa fa-remove"> </i></button>
                          </div>
                        </div>
                        <!-- ./remove button -->

                      </div>
                    </div>
                    <!-- ./fields -->

                    <!-- add -->
                    <div class="btn-group-vertical">
                      <button class="btn bg-teal" type="button" ng-click="addProperty()"><i class="fa fa-plus"> </i></button>
                    </div>
                    <!-- ./add -->

                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- ./box-body -->

          <div class="box-footer with-border">
            <div class="pull-right">
              <div class="btn-group">
                <button class="btn bg-gray" type="button" ng-disabled="!gameAction.id" ng-click="delete(gameAction)"><span ng-bind-html="labels.buttons.delete"></span></button>
              </div>
              <div class="btn-group">
                <button class="btn bg-navy" type="submit"><span ng-bind-html="labels.buttons.save"></span></button>
              </div>
            </div>
          </div>
        </div>
        <!-- ./box -->
      </form>
    </div>
  </div>
  <!--./action-form-box-->

</div>
<!--./action-panel-->
