<!--badge-panel-->
<div class="badge-panel">
  
  <!--badge-list-box-->
  <div class="badge-list-box">
    <div class="col-md-3">
      <div class="box">
        
        <div class="overlay" ng-if="!badgesAreLoaded">
          <div class="list-loader"></div>
        </div>  

        <div class="box-header with-border">
          <div class="btn-group-vertical pull-right">
            <button class="btn bg-navy" type="button" ng-click="new()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        
        <div class="box-body">
          <div ng-repeat="b in gameBadges">
            <a role="button" ng-click="select(b)">
              <div class="info-box">
                <span class="info-box-icon bg-aqua">
                  <img  src="{{b.image_url}}" class="img-responsive pad img-circle">
                </span>
                <div class="info-box-content">
                  <span class="info-box-text" ng-bind-html="b.name"></span>
                  <i class="fa fa-circle selected-badge-a" ng-if="b.isSelected"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
   
      </div>
    </div>
  </div>
  <!--./badge-list-box-->
  
  <!--badge-form-box-->
  <div class="badge-form-box">
    <div class="col-md-9">
      <form ng-if="gameBadge" name="gameBadgeForm" ng-submit="save(gameBadge)">
        <div class="box">

          <!-- loading -->
          <div class="overlay" ng-if="isBadgeProcessing">
            <div class="fixed-loader"></div>
          </div>
          <!-- ./loading -->

          <div class="box-header with-border">
              <i class="fa fa-edit"></i>

              <h3 class="box-title" ng-bind-html="gameBadge.name"></h3>

              <div class="pull-right">
                <div class="btn-group">
                  <button class="btn bg-gray" type="button" ng-disabled="!gameBadge.id" ng-click="delete(gameBadge)"><span ng-bind-html="labels.buttons.delete"></span></button>
                </div>
                <div class="btn-group">
                  <button class="btn bg-navy" type="submit"><span ng-bind-html="labels.buttons.save"></span></button>
                </div>
              </div>
          </div>
          
          <div class="box-body">

            <!-- basics help -->
            <div class="callout">
              <h4 ng-bind-html="labels.callouts.basics.title"></h4>
              <p ng-bind-html="labels.callouts.basics.description"></p>
            </div>
            <!-- ./basics help -->

            <div class="badge-basic-fields">
              <div class="row">

                <!--upload -->
                <div class="col-md-offset-5 col-md-2">
                  <div class="row">
                    <div class="form-group has-feedback">
                      <img  src="{{gameBadge.image_url}}" class="img-responsive pad img-circle">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <span class="btn-block btn bg-teal btn-file btn-upload">
                          <i class="fa fa-upload"></i> 
                          <input type="file" game-badge-image-select="onFileSelect($files)" accept="image/*" />
                      </span>
                    </div>
                  </div>
                </div>
                <!-- ./upload -->

                <div class="col-md-offset-3 col-md-6">

                  <!-- name -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameBadgeForm.name.$invalid, 'has-success': gameBadgeForm.name.$valid }">
                      <input name="name" type="text" class="form-control" ng-model="gameBadge.name" ng-required="true" autocomplete="off" placeholder="{{labels.fields.name}}">
                    </div>
                  </div>
                  <!-- ./name -->

                  <!-- bonus_points -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameBadgeForm.bonus_points.$invalid, 'has-success': gameBadgeForm.bonus_points.$valid }">
                      <input name="bonus_points" type="text" class="form-control" gkui-number ng-model="gameBadge.bonus_points" ng-required="true" autocomplete="off" placeholder="{{labels.fields.bonusPoints}}">
                    </div>
                  </div>
                  <!-- ./bonus_points -->

                  <!--active-->
                  <div class="row">
                    <div class="btn-group">
                      <label class="btn btn-success" ng-class="{ 'active': gameBadge.active }" ng-model="gameBadge.active" uib-btn-radio="true" ng-bind-html="labels.buttons.activated"></label>
                      <label class="btn btn-danger" ng-class="{ 'active': !gameBadge.active }" ng-model="gameBadge.active" uib-btn-radio="false" ng-bind-html="labels.buttons.inactivated"></label>
                    </div>
                  </div>
                   <!--./active-->

                </div>
               

                <!-- ./fields -->
              </div>
            </div>

            <hr>

            <!-- conditions help -->
            <div class="callout">
              <h4 ng-bind-html="labels.callouts.conditions.title"></h4>
              <p ng-bind-html="labels.callouts.conditions.description"></p>
            </div>
            <!-- ./conditions help -->

            <!--badgeconditionsfields-->
            <div class="badge-conditions-fields">
              
              <div class="row">
                <div class="col-md-offset-1 col-md-10 well">
                  <div class="row">
                    <span ng-bind-html="labels.fields.conditions.type"></span>
                    <!--conditiontype-->
                    <select ng-model='gameBadge.badge_reward_condition.condition_type'>
                      <option ng-repeat='option in labels.fields.conditions.match' value="{{option.code}}" ng-bind-html="option.description"></option>
                    </select>
                    <!--./conditiontype-->
                  </div>

                  <hr>

                  <!--conditionsactions-->
                  <div class="conditions-actions" ng-if="gameBadge.badge_reward_actions.length > 0">
                    <!--actions-->
                    <div class="col-md-12 well" ng-repeat='pa in gameBadge.badge_reward_actions'>

                      <div class="row">
                        <div class="col-md-3">
                          <select class="form-control" ng-model='pa.verb'>
                            <option ng-repeat='option in availableActions' value="{{option.verb}}" ng-bind-html="option.verb"></option>
                          </select>
                        </div>

                        <div class="col-md-3">
                          <input name="performed_times" type="text" class="form-control" gkui-number ng-model="pa.times_to_achieve"  autocomplete="off" placeholder="{{labels.fields.conditions.times_to_achieve}}">
                        </div>

                        <div class="btn-group-vertical">
                          <button class="btn bg-gray" type="button" ng-click="removePerformedAction(pa)"><i class="fa fa-remove"> </i></button>
                        </div>
                      </div>

                    </div>
                    <!--./action-->
                  </div>
                  <!--./conditionsactions-->

                  <!-- add -->
                  <button class="btn bg-teal" type="button" ng-bind-html="labels.buttons.addAction" ng-click="addPerformedAction()"></button>
                  <!-- ./add -->
                </div>
              </div>
            </div>
            <!--./badgeconditionsfields-->

          </div>
          <!-- ./box-body -->

          <div class="box-footer with-border">
            <div class="pull-right">
              <div class="btn-group">
                <button class="btn bg-gray" type="button" ng-disabled="!gameBadge.id" ng-click="delete(gameBadge)"><span ng-bind-html="labels.buttons.delete"></span></button>
              </div>
              <div class="btn-group">
                <button class="btn bg-navy" type="submit"><span ng-bind-html="labels.buttons.save"></span></button>
              </div>
            </div>
          </div>

        <!-- ./box -->
      </form>
    </div>
  </div>
  <!--./badge-form-box-->
  
</div>
<!--./badge-panel-->
