<!--level-panel-->
<div class="level-panel">
  
  <!--level-list-box-->
  <div class="level-list-box">
    <div class="col-md-3">
      <div class="box">
        
        <div class="overlay" ng-if="!levelsAreLoaded">
          <div class="list-loader"></div>
        </div>  

        <div class="box-header with-border">
          <div class="btn-group-vertical pull-right">
            <button class="btn bg-navy" type="button" ng-click="new()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        
        <div class="box-body">
          <div ng-repeat="l in gameLevels">
            <a role="button" ng-click="select(l)">
              <div class="info-box">
                <span class="info-box-icon bg-aqua">
                  <img  src="{{l.image_url}}" class="img-responsive pad img-circle">
                </span>
                <div class="info-box-content">
                  <span class="info-box-text" ng-bind-html="l.name"></span>
                  <i class="fa fa-circle selected-level-a" ng-if="l.isSelected"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
   
      </div>
    </div>
  </div>
  <!--./level-list-box-->
  
  <!--level-form-box-->
  <div class="level-form-box">
    <div class="col-md-9">
      <form ng-if="gameLevel" name="gameLevelForm" ng-submit="save(gameLevel)">
        <div class="box">

          <!-- loading -->
          <div class="overlay" ng-if="islevelProcessing">
            <div class="fixed-loader"></div>
          </div>
          <!-- ./loading -->

          <div class="box-header with-border">
              <i class="fa fa-edit"></i>

              <h3 class="box-title" ng-bind-html="gameLevel.name"></h3>

              <div class="pull-right">
                <div class="btn-group">
                  <button class="btn bg-gray" type="button" ng-disabled="!gameLevel.id" ng-click="delete(gameLevel)"><span ng-bind-html="labels.buttons.delete"></span></button>
                </div>
                <div class="btn-group">
                  <button class="btn bg-navy" type="submit"><span ng-bind-html="labels.buttons.save"></span></button>
                </div>
              </div>
          </div>
          
          <div class="box-body">

            <!-- basics help -->
            <div class="callout">
              <h4 ng-bind-html="labels.callouts.basics.title"></h4>
              <p ng-bind-html="labels.callouts.basics.description"></p>
            </div>
            <!-- ./basics help -->

            <div class="level-basic-fields">
              <div class="row">

                <!--upload -->
                <div class="col-md-offset-5 col-md-2">
                  <div class="row">
                    <div class="form-group has-feedback">
                      <img  src="{{gameLevel.image_url}}" class="img-responsive pad img-circle">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <span class="btn-block btn bg-teal btn-file btn-upload">
                          <i class="fa fa-upload"></i> 
                          <input type="file" game-level-image-select="onFileSelect($files)" accept="image/*" />
                      </span>
                    </div>
                  </div>
                </div>
                <!-- ./upload -->

                <div class="col-md-offset-3 col-md-6">

                  <!-- name -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameLevelForm.name.$invalid, 'has-success': gameLevelForm.name.$valid }">
                      <input name="name" type="text" class="form-control" ng-model="gameLevel.name" ng-required="true" autocomplete="off" placeholder="{{labels.fields.name}}">
                    </div>
                  </div>
                  <!-- ./name -->

                  <!-- required_points -->
                  <div class="row">
                    <div class="form-group input-group-sm" ng-class="{ 'has-error':  gameLevelForm.required_points.$invalid, 'has-success': gameLevelForm.required_points.$valid }">
                      <input name="required_points" type="text" class="form-control" gkui-number ng-model="gameLevel.required_points" ng-required="true" autocomplete="off" placeholder="{{labels.fields.bonusPoints}}">
                    </div>
                  </div>
                  <!-- ./required_points -->

                  <!--active-->
                  <div class="row">
                    <div class="btn-group">
                      <label class="btn btn-success" ng-class="{ 'active': gameLevel.active }" ng-model="gameLevel.active" uib-btn-radio="true" ng-bind-html="labels.buttons.activated"></label>
                      <label class="btn btn-danger" ng-class="{ 'active': !gameLevel.active }" ng-model="gameLevel.active" uib-btn-radio="false" ng-bind-html="labels.buttons.inactivated"></label>
                    </div>
                  </div>
                   <!--./active-->
                </div>   
                <!-- ./fields -->
              </div>
            </div>
          </div>
          <!-- ./box-body -->

          <div class="box-footer with-border">
            <div class="pull-right">
              <div class="btn-group">
                <button class="btn bg-gray" type="button" ng-disabled="!gameLevel.id" ng-click="delete(gamelevel)"><span ng-bind-html="labels.buttons.delete"></span></button>
              </div>
              <div class="btn-group">
                <button class="btn bg-navy" type="submit"><span ng-bind-html="labels.buttons.save"></span></button>
              </div>
            </div>
          </div>

        <!-- ./box -->
      </form>
    </div>
  </div>
  <!--./level-form-box-->
  
</div>
<!--./level-panel-->
