<!--player-panel-->
<div class="player-panel">
  
  <!--player-list-box-->
  <div class="player-list-box">
    <div class="col-md-12">
      
      <!--mainbox-->
      <div class="box">

        <!-- loading -->
        <div class="overlay" ng-if="!playerIsLoaded">
          <div class="fixed-loader"></div>
        </div>
        <!-- ./loading -->

        <div class="box-header with-border">
          <br>
        </div>
        
        <!--body-->
        <div class="box-body">

          <!--player-card-->
          <div class="col-md-2">
            <div class="box-player">
              <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="{{player.image_url}}">

                <h3 class="profile-username text-center" ng-bind-html="player.name"></h3>

                <ul class="list-group list-group-unbordered player-basics-info">
                  <li class="list-group-item">
                    <b><span ng-bind-html="labels.fields.level"></span></b> <img class="user-level-img img-responsive img-circle" src="{{player.level_imagel_url}}">
                  </li>
                  <li class="list-group-item">
                    <b><span ng-bind-html="labels.fields.badges_obtained"></span></b> <a class="pull-right"><span ng-bind-html="player.badges_obtained"></span></a>
                  </li>
                  <li class="list-group-item">
                    <b><span ng-bind-html="labels.fields.points_obtained"></span></b> <a class="pull-right"><span ng-bind-html="player.points_obtained"></span></a>
                  </li>
                </ul>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
          <!--./player-card-->

          <!--modal-->
          <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Propriedades do objeto</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <ul>
                    <li ng-repeat="p in properties">
                      <span ng-bind-html="p.name"></span> => <span ng-bind-html="p.value"></span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Fechar</button>
            </div>
          </script>
          <!--./modal-->

          <!--player-detail-->
          <div class="col-md-10">
            <div class="nav-tabs-custom box-player">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#timeline" data-toggle="tab" aria-expanded="true">
                    <span ng-bind-html="labels.tabs.tab1"></span>
                  </a>
                </li>
              </ul>
              <div class="tab-content" ng-show="true">
                <!-- /.tab-pane -->
                <div class="tab-pane active" id="timeline">
                  <!-- The timeline -->
                  <ul class="timeline timeline-inverse">
                    <!-- timeline item -->
                    <li ng-repeat="t in timeline">
                      <i class="fa bg-aqua" ng-class="{ 'fa-gamepad': t.klass == 'PerformedAction', 'fa-trophy': t.klass == 'PlayerBadge' }"></i>

                      <div class="timeline-item">

                        <span class="time">
                          <i class="fa fa-clock-o"></i> 
                          <span ng-bind-html="t.created_at"></span>
                        </span>
                        <span class="options" style="float:right" ng-if="t.klass == 'PerformedAction'">
                            <button class="btn-xs btn-block btn-info" type="button" ng-click="openActionInfo(t.properties)">
                            <i class="fa fa-info-circle"></i>
                          </button>
                        </span>

                        <h3 class="timeline-header no-border">
                          <a href="#/games/{{game.unique_name}}/players/{{player.id}}/show">
                            <span ng-bind-html="t.player_name"></span>
                          </a> 
                          <span ng-bind-html="t.description"></span>
                        </h3>
                      </div>
                    </li>
                    <!-- END timeline item -->
 
                    <li>
                      <i class="fa fa-clock-o bg-gray"></i>
                    </li>
                  </ul>
                  <!--./ END the timeline-->
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
          </div>
          <!--./player-detail-->

        </div>
        <!--./body-->
   
      </div>
      <!--./mainbox-->
    </div>
  </div>
  <!--./player-list-box-->
  
</div>
<!--./player-panel-->
