  <!--player-panel-->
<div class="player-panel">
  
  <!--player-list-box-->
  <div class="player-list-box">
    <div class="col-md-12">
      
      <!--mainbox-->
      <div class="box">
        <div class="box-header with-border">
          <br>
        </div>
        
        <!--body-->
        <div class="box-body">

          <form name="formSandbox" ng-submit="perform()">
            <div class="row">
              <div class="col-md-offset-3 col-md-6">
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Performing...</label>
                  <select class="form-control select2 select2-hidden-accessible" ng-model="action" ng-options="action.verb for action in gameActions" ng-change="updateProperties()"></select>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                  <label>With extra info...</label>
                  
                  <div class="form-group" ng-repeat="op in object_properties">
                    <label for="op.name" class="col-sm-2 control-label" ng-bind-html="op.name"></label>

                    <div class="col-sm-10">
                      <input class="form-control" ng-model="op.value">
                    </div>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn bg-navy">Perform</button>
              </div>
            </div>
            <!-- /.row -->
          </form>
        </div>
        <!--./body-->
      </div>
      <!--./mainbox-->
    </div>
  </div>
  <!--./player-list-box-->
  
</div>
<!--./player-panel-->
